data/
figures/
point_clouds/
meshes/

scripts/__pycache__
scripts/test/load_urdf.py
scripts/test/ice_cream_cone.py

urdf/auto_gen_manip.urdf
urdf/example_robot.urdf
urdf/new.urdf
urdf/prrr_manipulator_long.urdf
urdf/rrr_manipulator_no_gripper.urdf