<?xml version="1.0"?>
<robot name="simple_test_robot">

  <link name="u_shape">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/marcus/IMML/codesign/meshes/u_shape.obj" scale="1 1 1"/>
      </geometry>
      <material name="purple">
        <color rgba="0.5 0 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/marcus/IMML/codesign/meshes/u_shape.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

</robot>
